.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-alignment {
  margin-left: auto;
}

/* Tooltip text */
.tooltip-content {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.26);
  color: #eee5b5;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  top: 50%;
  left: -95px;
  margin-top: -27px;
  font-size: 15px;
  line-height: 16px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip-content:hover {
  background-color: rgba(0, 0, 0, 0.51);
}

.tooltip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.26);
}

.tooltip-content:hover::after {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.51);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-content {
  visibility: visible;
}
